.cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.black {
    background: rgba(209, 139, 71, 1);
}

.white {
    background: rgba(255, 206, 158, 1);
}

.selected {
    border: 5px solid rgba(0, 200, 0, 1);
}

.move {
    border: 5px solid rgba(0, 250, 0, 1);
}

.attack {
    border: 5px solid rgba(250, 0, 0, 1);
}

.piece {
    height: 45px;
    width: 45px;
}